<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>CWwd4pFUl0oWiYEXfggZKxrMc</string>
	<key>SECRET_KEY</key>
	<string>myBVLHv9OiREZllvof6yNGfIsvlbFmbg4nzgFiNBq9Q0bzEa3O</string>
</dict>
</plist>
